html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  padding: 0.8rem 2rem;
}
